### Optional Dependencies for Additional pymdwizard Functionality   ###
###                                                                 ###
### To install, run:                                                ###
###      $ pip install -r optional-requirements.txt                 ###
###                                                                 ###
#######################################################################

jupyter
gdal
geopandas
xlrd
python-docx
habanero