requests
lxml
defusedxml
pandas
jupyter
gdal
geopandas
pyqt
python-docx
habanero
git
gitpython
folium
jupyterlab
sciencebasepy
laspy
openpyxl
xlrd

# development specific requirements
pytest>=3.1.0
pytest-cov>=2.2.0
sphinx
sphinx-rtd-theme

