#DI Note 7/9/24: This requirements file is problematic/not working currently.
requests
lxml
defusedxml
pandas
jupyter
gdal
geopandas
pyqt==5.12.3
pyqtwebengine==5.12.1
xlrd
python-docx
habanero
git
python
git
folium
jupyterlab
sciencebasepy